.root {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 5px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
}

.form_authorization {
    display: flex;
    flex-direction: column;
}

.input_button {
    margin: 4px 4px 4px 0;
}
